.main-wrapper {
  max-width: 1200px;
  margin: 3rem auto;
  border: 1px solid #cccccc;
}
.main-wrapper .main-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 1rem;
  padding-top: 2rem;
}
